.recipeInfoPage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.overview, .secondInfoBox{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0px black;
    width: 800px;
    display: flex;
    gap: 1rem;
}

.secondInfoBox {
    gap: 0rem;
}

.overview {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.ingredients, .directions {
    padding: 1rem;
    width: 800px;
    text-align: left;
    margin: 5px;
}

.ingredientsList {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0px black;
    text-align: left;
}

.ingredientsTitle, .directionsTitle {
    font-size: 25px;
    margin-top: 1px;
}

.directionsList {
    padding: 1rem;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0px black;
}

.about {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1rem;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0px black;
}

.aboutTitle {
    margin-top: 25px;
    margin-bottom: 10px;
}

.about p {
    margin: 1px;
}

.overviewLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.overviewTitle {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

.addRemoveButton {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px black;
    width: 95%;
    padding: 1rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    padding: 4px 12px;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1.5px solid black;
}

.tagGreen { background-color: #5FC39C; border-radius: 20px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
.tagBlue { background-color: #66C3FF; border-radius: 4px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
.tagPurple { background-color: #B994E0; border-radius: 20px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
.tagYellow { background-color: #fbbf0e; border-radius: 4px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
.tagPink { background-color: #fb9c9f; border-radius: 20px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }

.bars {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.servings, .price {
    background-color: white;
    border-radius: 40px;
    padding: 1rem;
    border: 1.5px solid black;
    gap: 0.5rem;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.servings {
    width: 90px;
}

.price {
    width: 200px;
}

.times {
    display: flex;
    gap: 1rem;
}

.timeCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    font-weight: 700;
}

.timeCircle p {
    margin: 0;
    font-size: 1.2rem;
}

.timeNumber {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.timeUnit {
    font-size: 0.65rem;
    font-weight: 400;
    margin-top: -10px;
    font-weight: 700;
}

.circleYellow { background-color: #dbc1f6; }
.circleGreen { background-color: #fbbf0e; }
.circlePink { background-color: #FB9C9F; }

.overviewRight {
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;

}

.recipeInfoImageBox {
    border: 1.5px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 0px black;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #FDEBEC;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.recipeInfoImage {
    width: 240px;
    height: 200px;
    object-fit: cover;
    display: block;
    border: 1.5px solid black;
    border-radius: 10px;
}