.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.recipeCard{
  border: 1.5px solid;
  border-radius: 10px;
  padding: 12px;
  text-align: left;
  width: 300px;
  height: 350px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 0px black;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.recipeCard:hover {
    transform: scale(1.05);
}

.recipeTitle {
  font-weight: 600;
  font-size: larger;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding-right: 40px;
}

.imageBox {
  justify-content: center;
}

.recipeImage {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 1.5px solid;
  border-radius: 10px;
  box-shadow: 1px 1px 0px black;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.addButton{
  position: absolute;
  font-size: 30px;
  top: 8px;
  right: 8px;
  border: 1px black solid;
  background-color: #5FC39C;
  padding: 0px 9px;
  border-radius: 10px;
}

.removeButton{
  position: absolute;
  font-size: 30px;
  top: 8px;
  right: 8px;
  border: 1px black solid;
  background-color: #fb9c9f;
  padding: 0px 9px;
  border-radius: 10px;
}

.seeMore{
  border: 1px black solid;
  background-color: #FFE082;
  font-size: small
}